	<div>
		<h1>FP-Feedback endpoint v. {{version}}</h1>
		<ul>
			<li><a href="/">/</a> this documentation page</li>
			<li><a href="/feedback">/feedback</a> the same docs page</li>
			<li><a href="/health">/health</a> - healthcheck with uptime</li>
		 	
		 	<li><a href="/feedback/reviews">/feedback/reviews</a> - reviews </li>
		 	<li><a href="/feedback/dates">/feedback/dates</a> - dates to filter out reviews</li>
		 	<li><a href="/atom.xml">/atom.xml</a> - news data in ATOM XML format</li>

		</ul>
	</div>
    {{> footer}}

