/*------General--------*/

body{

font-family: 'Montserrat', sans-serif;
background-color:#202020;
}

a{
text-decoration:none;
color:#FFBD10;
	
}

a:hover{
text-decoration:none;
color: white;	
}


 figcaption { 
 	margin:10 10 10 0px;
 text-align:left;
 }


#first{
	margin:2 10%;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;

}

#second{
	margin:2 10%;
 display: flex;
 flex-direction: row;
 align-self:flex-end;
 justify-content: space-around;
	
}

#therd{
	margin:2 10%;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
	
}


nav ul { 
list-style-type: none;
margin-top: 1.5%;
} 

nav li { 

font-size: 120%;
display : inline;
margin : 0 9%;
} 

ul { 
list-style-type: none;
} 

li { 

font-size: calc(0.5em + 0.5vw);
display : inline;
} 


.text0{
margin-left: 10%;
width:80%;
font-size: 100%;
text-align: justify;
color:white;
}

.text1{
font-size: 200%;
width:80%;
margin-left:10%;
margin-bottom:3%;
margin-top: 7%;
color:white;
}

.c{
border: 5px solid #FFFFFF;
}

.c:hover{
border: 5px solid #FFBD10;
}

.p1{
margin-left:10%;
font-size: calc(0.5em + 0.5vw);	
}